<a href="https://colab.research.google.com/github/wwoskie/Python_BI_2022/blob/thin_pale_tr034k4/thin_pale_tr034k4/thin_pale_tr034k4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [66]:
def sort_dataframes_by_mean(data, column):
    means = []
    maxes = []
    for df in data: # iterating over df list
        means.append(df[column].mean()) # calculating data
        maxes.append(df[column].max())

    avg_max_df = pd.DataFrame( # creating df with means and maxes
        {'means': means,
         'maxes': maxes}
    )

    avg_max_df.sort_values(by='maxes', inplace = True) # sorting df
    avg_max_df.sort_values(by='means', inplace = True)

    ordered_data = [data[i] for i in avg_max_df.index] # rearranging data by df indexes

    return ordered_data

In [67]:
'''

# TEST DATA
data_1 = pd.DataFrame([
[2, 2, 3, 4],
[3, 6, 7, 9],
[5, 2, 3, 4],
[3, 2, 3, 4],
], columns=[f"Column_{idx}" for idx in range(1, 5)])

data_2 = pd.DataFrame([
[2, 2, 3, 4],
[3, 6, 7, 9],
[5, 2, 3, 4],
[3, 2, 7, 4],
], columns=[f"Column_{idx}" for idx in range(1, 5)])

data_3 = pd.DataFrame([
[2, 2, 3, 4],
[3, 6, 5, 9],
[5, 2, 3, 4],
[3, 2, 9, 4],
], columns=[f"Column_{idx}" for idx in range(1, 5)])

df_list = [data_1, data_2, data_3]

srtd = sort_dataframes_by_mean(df_list, 'Column_3')

#'''

In [68]:
#srtd[0]

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         7         9
2         5         2         3         4
3         3         2         3         4

In [69]:
#srtd[1]

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         7         9
2         5         2         3         4
3         3         2         7         4

In [70]:
#srtd[2]

   Column_1  Column_2  Column_3  Column_4
0         2         2         3         4
1         3         6         5         9
2         5         2         3         4
3         3         2         9         4